*.o
*.l[ao]
*~
*.swp
*-gen.h
*-signals-marshal.[hc]
*-types.[hc]
*.stamp
*.pyc
*.bak
*.gcda
*.gcno
*.gcov
\#*\#
/data/*.valid
/data/gschemas.compiled
/doc/reference/*/html
/doc/reference/*/xml
/doc/reference/*/*-decl-list.txt
/doc/reference/*/*-decl.txt
/doc/reference/*/*-undeclared.txt
/doc/reference/*/*-undocumented.txt
/doc/reference/*/*-unused.txt
/doc/reference/*/tmpl/*-unused.sgml
/doc/reference/*/*.args
/doc/reference/*/*.hierarchy
/doc/reference/*/*.interfaces
/doc/reference/*/*.prerequisites
/doc/reference/*/*.signals
/doc/reference/mission-control-plugins/tmpl/*.sgml
/doc/reference/mission-control-plugins/*.types
/doc/reference/mission-control-plugins/*.txt
.libs
.deps
Android.mk
Makefile
Makefile.in
_gen/
INSTALL
aclocal.m4
autom4te.cache
compile
config.guess*
config.h*
config.log
config.status*
config.sub*
configure
cscope.out
debian
depcomp
doc/mc-dbus-iface.html
gtk-doc.make
install-sh
/lcov.html
/lcov.info
/lcov.info.tmp
libtool
ltmain.sh
/m4/gtk-doc.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
missing
mission-control.pc
/mission-control-plugins.pc
/mission-control-plugins-uninstalled.pc
patches/
stamp-*
/server/mission-control-5
/server/mission-control-5.8
/server/org.freedesktop.Telepathy.AccountManager.service
/server/org.freedesktop.Telepathy.MissionControl5.service
tags
TAGS
/telepathy-mission-control-5*
/tests/account-store
/tests/keyring-command
/tests/tease-the-minotaur
/tests/test-*
tests/mc-client
tests/twisted/with-session-bus-*.dbus-monitor-logs
/tests/twisted/accounts/.mc_connections
/tests/twisted/accounts/accounts.cfg
/tests/twisted/mc-debug-server
tests/twisted/mc-twisted-tests.list
tests/twisted/run-test.sh
tests/twisted/tools/exec-with-log.sh
tests/twisted/tools/missioncontrol-*.log
tests/twisted/tools/missioncontrol.log
tests/twisted/tools/run-mc.sh
tests/twisted/tools/servicedir-installed/tmp-session-bus.conf
tests/twisted/tools/servicedir-uninstalled/tmp-session-bus.conf
/tests/twisted/tools/servicedir-installed/*.service
/tests/twisted/tools/servicedir-uninstalled/*.service
/tests/twisted/tmp-*/
/tests/twisted/with-session-bus-*.address
/tests/twisted/with-session-bus-*.pid
/util/mc-account-convert
/util/mc-tool
/util/mc-wait-for-name
/util/mc-wait-for-name.1
tests/twisted/config.py
