*.o
*.l[ao]
*~
*-gen.h
*-gen.xml
*-signals-marshal.[hc]
*-types.[hc]
*.stamp
*.pyc
/doc/reference/*/html
/doc/reference/*/xml
/doc/reference/*/*-decl-list.txt
/doc/reference/*/*-decl.txt
/doc/reference/*/*-undocumented.txt
/doc/reference/*/*-unused.txt
/doc/reference/*/tmpl/*-unused.sgml
/doc/reference/*/*.args
/doc/reference/*/*.hierarchy
/doc/reference/*/*.interfaces
/doc/reference/*/*.prerequisites
/doc/reference/*/*.signals
.libs
Makefile
Makefile.in
_gen/
INSTALL
aclocal.m4
compile
config.guess*
config.h*
config.log
config.status
config.sub*
configure
debian
depcomp
doc/mc-dbus-iface.html
examples/mc-example
examples/mc-example-2
examples/mc-example-3
gtk-doc.make
install-sh
libmcclient.pc
libmcclient/diff
libmissioncontrol.pc
libmissioncontrol/mc-account
libmissioncontrol/test
libtool
ltmain.sh
m4/gtk-doc.m4
missing
mission-control.pc
patches/
stamp-*
test/mc-client
util/mc-account-convert
util/mc-tool
